.VlPnLc {background-color: #0d1117 !important;}
.TcXXXb {color: #58a6ff !important;}
.hgbeOc {
  background-color: #0d1117 !important;
  border-top: 2px solid #21262d;
}
.P6w8m {
  background-color: #0d1117 !important;
  border: 2px solid #21262d;  
}
.UnxENd {
  background-color: #0d1117 !important;
  border: 2px solid #21262d;
}

.aL9XFd {background-color: #0d1117 !important;}
.WFnNle {background-color: #0d1117 !important;}

.gb_Jc {background-color: #161b22 !important;}

.aCQag {
  border: 2px solid #21262d;
  background-color: #161b22 !important;
}

.ccvoYb {
  background-color: #161b22 !important;
}

.lyY31c {
  background-color: #161b22 !important;
}

.yUUmWd.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-jY41G-V67aGc {color: #1a73e8 !important;}

.VfPpkd-jY41G-V67aGc {color: #f0f6fc !important;}

.er8xn {
  color: #c9d1d9 !important;
}

.J0lOec {
  color: #c9d1d9 !important;
}

.SSgGrd:not(:disabled) {
  color: #c9d1d9 !important;
}

.q7sDqe:not(:disabled) .VfPpkd-kBDsod, .q7sDqe:not(:disabled) {
  color: #c9d1d9 !important;
}

.Dwvecf {
  background-color: #1e252e !important;
  border-radius: 8px;
}

body {
  color: #f0f6fc !important;
}

.VK4HE {
  background-color: #1e252e !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.qTO0c {
  background-color: #1e252e !important;
}
.dPxysd {
  color: #1d6fd5 !important;
}
